* {
    margin: 0;
    padding: 0;
    background: #333;
}

body, html {
    height: 100%;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container {
    width: 150px;
    height: 150px;
}

input {
    appearance: none;
    background: #222;
    height: 50px;
    width: 120px;
    border-radius: 30px;
    transition: .4s;
    box-shadow: 5px 5px 10px inset #111, -5px -5px 10px inset #111, -5px 5px 10px inset #111;
}

input:checked {
    background: #f535aa;
    box-shadow: 5px 5px 20px #f535aa, 5px -5px 20px #c93590, -5px -5px 20px #f535aa,
     -5px 5px 20px #f535aa, 5px 5px 10px inset #b42c80, -5px -5px 10px inset #b42c80,
     5px -5px 10px inset #b42c80;
}

.slider {
    top: 52px;
    left: 18px;
    position: absolute;
    background-color: #333;
    height: 46px;
    width: 66px;
    border-radius: 23px;
    transition: .4s;
}

input:checked + .slider {
    transform: translate(48px);
    transition: .4s;
}

.slider:before {
    content: "";
    background: #222;
    height: 6px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 78%;
    border-radius: 4px;
    box-shadow: none;
}

input:checked + .slider:before {
    transition: .4s;
    background: #f535aa;
    box-shadow: 1px 1px 3px #f35ab8, -1px -1px 3px #f35ab8, 1px -1px 3px #f35ab8,
    -1px 1px 3px #f35ab8;
}